language: node_js
node_js:
- 10

cache:
  directories:
    - ~/.npm

# common build steps
defaults: &defaults
  install:
    - npm ci
  script:
    - npm run demo

jobs:
  include:
  # run many jobs to make sure XVFB starts reliably
    - stage: test
      <<: *defaults
    - stage: test
      <<: *defaults
    - stage: test
      <<: *defaults
    - stage: test
      <<: *defaults
    - stage: test
      <<: *defaults
    - stage: test
      <<: *defaults
    - stage: test
      <<: *defaults
    - stage: test
      <<: *defaults
    - stage: test
      <<: *defaults
    - stage: test
      <<: *defaults
    - stage: test
      <<: *defaults
    - stage: test
      <<: *defaults
    - stage: test
      <<: *defaults
    - stage: test
      <<: *defaults
    - stage: test
      <<: *defaults
    - stage: test
      <<: *defaults
    - stage: test
      <<: *defaults
    - stage: test
      <<: *defaults
